[Desktop Entry]
Type=Application
Name=Hallpass Firewall
GenericName=Application Firewall
Comment=Firewall rules, live traffic and settings
Exec=hallpass-ui
Icon=security-high
Terminal=false
Categories=System;Security;Network;
